html, body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a {
  color: #0000FF;
  img { border: none; }
  text-decoration: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 60%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

.post {
  margin-bottom: 30px;
}

.content {
  margin-top: 40px;
}

#flash_notice {
  color: #00B205;
}

#flash_alert {
  color: #D00;
}

.error_messages, #error_explanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
  }
  p {
    margin: 8px 10px;
  }
  ul {
    margin-bottom: 0;
  }
}

.field_with_errors {
  display: inline;
}

form .field {
  margin: 12px 0;
}

form .actions {
  margin: 12px 0;
  input#button {
    width: auto;
  }
}

textarea {
  margin-top: 5px;
  width: 600px;
  height: 250px;
  font-family: monospace;
  font-size: 14px;
}

input#article_title {
  width: 600px;
  font-size: 14px;
}

input {
  width: 300px;
  font-size: 14px;
}

p#meta {
  font-family: monospace;
  font-size: 12px;
  font-style: italic;
}

#user_header {
  float: right;
  li {
    display: inline;
  }
}
